/* sm: { max: '480px' },
md: { min: '481px', max: '768px' },
lg: { min: '769px', max: '976px' },
xl: { min: '977px', max: '1440px' }, */

/* dark: '#211722',
red: '#B63B4F',
yellow: '#FCE205',
gray: '#798E9D',
light: '#F3F7F4', */

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: 'Playfair Display', serif;
}

a {
	text-decoration: none;
}

section {
	display: block;
	overflow: hidden;
}

.home-page {
	height: 100vh;
	background-color: #211722;
	color: #f3f7f4;
}

.home-page .content {
	margin: 10rem 0 0 2.5rem;
}

.home-page .content h2 {
	font-weight: lighter;
	font-size: 3.5rem;
	line-height: 4.4rem;
}

.home-page .content .name {
	color: #fce205;
	font-size: 3rem;
}

.home-page .content .para {
	font-size: 1.2rem;
	margin-top: 0.6rem;
}

.home-page .content .contact-btn {
	display: inline-block;
	margin-top: 1.5rem;
	color: #fce205;
	font-size: 1.5rem;
	padding: 5px 20px;
	border: 2px solid #b63b4f;
	border-radius: 30px;
	outline: none;
}

.home-page .content .contact-btn:hover {
	color: #211722;
	background-color: #f3f7f4;
}

.home-page-contact-link {
	margin-top: 1rem;
	display: flex;
	flex-direction: row;
	justify-content: start;
	align-items: baseline;
}

.home-page-contact-link a svg {
	width: 50px;
	height: 50px;
	margin: 0 0.8rem 0 0;
	padding: 0.5rem 0.1rem;
}

.project-page {
	color: #798e9d;
	background-color: #f3f7f4;
	text-align: center;
}

.project-page .heading {
	font-size: 3rem;
	color: #b63b4f;
	margin: 1rem 0;
}

.project-card {
	width: 65%;
	height: 300px;
	position: relative;
	overflow: hidden;
	color: #211722;
	background: rgba(0, 0, 0, 0.1);
	box-shadow: 0 0 50px 0 rgba(0, 0, 0, 0.5);
	border-radius: 10px;
	backdrop-filter: blur(5px);
	-webkit-backdrop-filter: blur(4px);
	display: flex;
	justify-content: center;
	align-items: center;
	margin-bottom: 1rem;
	transition: 0.3s;
}

.Left {
	transform: translateX(30px);
	animation: projectTransitionFromLeft 0.5s ease-out 1s;
}

.Right {
	margin-left: auto;
	transform: translateX(-30px);
	animation: projectTransitionFromRight 0.5s ease-out 1.5s;
}

@keyframes projectTransitionFromLeft {
	0% {
		transform: translateX(-10px);
	}
	100% {
		transform: translateX(30px);
	}
}

@keyframes projectTransitionFromRight {
	0% {
		transform: translateX(10px);
	}
	100% {
		transform: translateX(-30px);
	}
}

.project-card-front {
	position: absolute;
	top: 0;
	left: 0;
}

.project-img {
	width: 100%;
	height: 300px;
	object-fit: cover;
	transition: 0.5s;
}

.project-card-back {
	position: relative;
	top: 0;
	left: 0;
	text-align: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
	transform: translateY(100px);
	opacity: 0;
	transition: 0.5s;
}

.project-card:hover .project-img {
	opacity: 0.15;
}

.project-card:hover .project-card-back {
	transform: translateY(0);
	opacity: 1;
}

.project-card-back .project-card-title {
	font-size: 2rem;
}

.project-card-back .project-card-disp {
	font-size: 1rem;
	font-style: italic;
	margin-top: 1rem;
}

.project-card-back .project-link-container {
	display: flex;
	justify-content: space-around;
	margin-top: 1.5rem;
}

.project-card-back .project-link-container .project-card-link {
	display: inline-block;
	padding: 8px 25px;
	color: #211722;
	font-weight: 500;
	border-radius: 30px;
	box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
}

.about-page {
	color: #211722;
	background-color: #f3f7f4;
}

.about-heading-container {
	width: 100%;
	height: 60vh;
	background-color: #211722;
	color: #f3f7f4;
	text-align: center;
}

.about-heading {
	font-size: 3rem;
	color: #fce205;
	padding: 2rem 0;
}

.about-disp {
	font-size: 1.15rem;
	line-height: 1.5rem;
	margin: 0.8rem auto;
	width: 80%;
	max-width: 750px;
}

.about-card-container {
	display: flex;
	flex-direction: column;
	position: relative;
	top: -7rem;
}

.about-card {
	width: 80%;
	height: 400px;
	margin: 1rem auto;
	line-height: 1.6rem;
	background: #f3f7f4;
	box-shadow: 0px 0px 4px 2px #fce205;
	display: flex;
	flex-direction: column;
	justify-content: start;
	text-align: center;
}

.card-icon {
	margin: 1.1rem auto;
}

.card-heading {
	font-size: 1.6rem;
	font-weight: bold;
	margin-bottom: 0.8rem;
}

.card-subheading {
	font-size: 1.15rem;
	font-weight: normal;
}

.card-list {
	font-size: 1.1rem;
	margin-top: 0.4rem;
	text-decoration: none;
	list-style: none;
}

.contact-page {
	width: 100%;
	background-color: #211722;
	color: #fce205;
	text-align: center;
}

.contact-heading {
	font-size: 4rem;
	margin: 1rem 0;
}

.contact-card {
	width: 90%;
	margin: 2rem auto 1rem auto;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
}

.contact-form {
	display: flex;
	flex-direction: column;
	padding: 0.2rem 0.4rem;
}

.contact-form input,
textarea {
	font-family: 'Playfair Display', serif;
	margin-bottom: 1rem;
	font-size: 1.4rem;
	padding: 0.8rem 1rem;
	border-radius: 10px;
	border: none;
	outline: none;
}

.contact-form textarea {
	resize: none;
}

.contact-form input[type='submit'] {
	color: #fce205;
	background-color: #211722;
	border: 3px solid #b63b4f;
}

.contact-link {
	margin-top: 1rem;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: baseline;
}

.contact-link a svg {
	width: 50px;
	height: 50px;
}
