* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	font-family: 'Open Sans', sans-serif;
	height: 100vh;
	background-color: #121212;
}
a {
	text-decoration: none;
	color: white;
}
.submitted {
	width: 40%;
	margin: 10vh auto;
	padding: 2rem;
	color: white;
	text-align: start;
	background-color: #3a3a3a;
	letter-spacing: 1px;
	.sucess,
	.failed {
		margin-bottom: 2rem;
	}
	h1 {
		font-size: 2rem;
		font-weight: bold;
		margin-bottom: 2vh;
	}
	h3 {
		font-size: 1.2rem;
		font-weight: 400;
		margin-bottom: 0.2rem;
		letter-spacing: 0.5px;
	}
	.failed {
		display: none;
	}
	.back {
		color: #49b7fb;
	}
}
